
<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>

    <% if session[:user_id] %>
    <h2>Welcome <%=@user.first_name @user.last_name%>!</h2>
    <% else %>
    <h2>Welcome!</h2>
    <% end %>
    
    <form action="/signup" class="button">
      <input type="submit" value="Sign up"/>
    </form>

    <form action="/login" class="button">
      <input type="submit" value="Login"/>
    </form>
    <div class="spaces_list">
      <% @spaces.each do |space| %>
      <p><%= space.title %></p>
      <p><%= space.description %></p>
      <p><%= space.price_per_night%></p><br>
      <% end %>
    </div>
  </body>
</html>