
<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>

    <form action="/signup" class="button">
      <input type="submit" value="sign up"/>

    <form action="/login" class="button">
      <input type="submit" value="log in"/>

    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>