<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>
   
   <div>
      <p><%=@title%></p>
      <p><%=@space.description%></p>
      <p><%=@space.price_per_night%></p>
      <p>Your host will be: <%=@host_name%></p>
   </div>


    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>