<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>
   
   <div>
ONE SPACE title, address, name of the host, available from - to, price_per_night
   </div>


    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>