<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>

   <div>
      <p><%=@space.title%></p>
      <p><%=@space.description%></p>
      <p><%=@space.price_per_night%></p>
      <p>The host of this space is: <%=@host_name%></p>
   </div>

    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>