<html>
  <head> 
     <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>
    <h2>Thanks for XXXXXXXX <%= @user.first_name %>!</h2>
    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>