<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>
   
<form action="/new_space" method="POST" class="add a space">
      <label> Title: </label>
      <input type="text" name="title"/><br>
      <label> Short description: </label> 
      <input type="text" name="description"/><br> 
      <label> Address: </label> 
      <input type="text" name="address"/><br> 
      <label> Price per night: </label> 
      <input type="int" name="price_per_night"/><br> 
      <label> Available form: </label> 
      <input type="date" name="available_from"/><br> 

TYPE =DATE. THE FORMAT IS DD/MM/YYYY
IN OUR SQL IS IS YYYY-MM-DD
NOT SURE WHETHER IT MIGHT INTERFERE


      <label> Available to: </label> 
      <input type="date" name="available_to"/><br> 
      <input type="submit" class="submit_button" value="sing up"/>
    </form>


    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>


