<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1><br>
    <h2>Request Failed</h2>
    <p>Please go back and try again - make sure you have entered dates!</p>
    <a href="/" class="home">Go to homepage</a>
    <a href="/requests/">Go to your requests</a>
  </body>
</html>