<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>
    <h2>Create Account</h2>
    <form action="/signup" method="POST">
      <label> First Name: </label>
      <input type="text" name="first_name"/><br>
      <label> Last Name: </label> 
      <input type="text" name="last_name"/><br> 
      <label> Email: </label>
      <input type="email" name="email"/><br>
      <label> Password: </label> 
      <input type="password" name="password"/><br> 
      <label> Submit: </label>
      <input type="submit" class="submit_button" value="sign up"/>
    </form>

    <form action="/login" class="button">
          <input type="submit" value="sign up"/>

    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>