<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<body>
  <h1>You have successfully created an account!</h1>
  <h2>Click <a href='/login'>login</a> to sign into your account</h2>
  <h3><a href='/'>Home</a></h3>
</body>

</html>