<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>
   
   
   <div>
TO LIST SPACES : titles, addresses
CLICK ON THE TITLE AND GO TO AN INDIVIDUAL SPACE


REDUNDANT. REPLACED BY INDEX
   </div>



    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>